#heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

body{
    background-image: url(https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?cs=srgb&dl=p);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.about{
  
        width: 350px;
        margin-top: 100px;
        margin-left: 20px;
        height: 500px;
       
        font-weight: bolder;
        color: #454545;
        font-size: 30px;
} 